{%macro datos(name, placeholder, type='text')%}
<p><input name="{{name}}" type="{{type}}" placeholder="{{placeholder}}"></p>
{%endmacro%}

{%macro camposNuevos(field)%}
<td>{{field.label}}</td>
<dd>{{field(**kwargs)| safe}}</dd>
{%if field.errors%}
<ul>
    {%for error in field.errors%}
        <li style="color: red;">{{error}}</li>
    {%endfor%}
</ul>
{%endif%}
{%endmacro%}

{% macro render_radio_field(field) %}
    <td>{{ field.label }}</td>
    <td>
        {% for subfield in field %}
            <div class="form-check">
                {{ subfield }}
                {{ subfield.label }}
            </div>

        {% endfor %}
    </td>
{% endmacro %}

{% macro render_select_multiple_field(field) %}
    <td>{{ field.label }}</td>
    <td>
        {% for subfield in field %}
            <div class="form-check">
                <input type="checkbox" name="{{ subfield.name }}" value="{{ subfield.data }}" id="{{ subfield.id }}">
                <label for="{{ subfield.id }}">{{ subfield.label }}</label>
            </div>
        {% endfor %}
    </td>
{% endmacro %}